# Ignorar arquivos de configuração sensíveis
.env
venv/


# Ignore __pycache__ directories
__pycache__
*.pyc

# Ignore arquivos temporários do editor (ex: VS Code, Sublime, etc.)
.vscode/
.idea/
src/database/db_volume/